.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .form__row {
    display: flex;
    flex-direction: row;
  }

  .form__control {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;

    label {
      margin-bottom: 5px;
    }
  }

  .form__actions {
    button {
      margin-left: 5px;
      margin-right: 5px;
    }
  }



  .form__fieldset {
    flex: 1;
    border: 1px solid #bdbdbd;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .form__row > :first-child { margin-left: 0 !important; }
  .form__row > :last-child { margin-right: 0 !important; }
}
