.form {
  &__control {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;

    label {
      margin-bottom: 5px;
    }
  }

  &__actions {
    button {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__fieldset {
    padding: 10px;
    border: 1px solid #bdbdbd;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
