.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__row {
    display: flex;
    flex-direction: row;

    & > :first-child {
      margin-left: 0 !important;
    }
    & > :last-child {
      margin-right: 0 !important;
    }
  }

  &__item {
    flex: 1;
    padding: 5px;
  }
}


