@import "data-table";
@import "form";

/* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Box-sizing border-box */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #c6cdc4;
  border-style: none;
  color: rgba(17, 17, 17, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.success {
  background-color: #00bc39;
  color: #ffffff;
}

.primary {
  background-color: #275fbc;
  color: #ffffff;
}

.error {
  background-color: #bc3730;
  color: #ffffff;
}

button:hover {
  background-color: #a8aba9;
}

button.success:hover {
  background-color: #009b37;
}

button.primary:hover {
  background-color: #254d9b;
}

button.error:hover {
  background-color: #9b322b;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .page__container {
    width: 1280px;
    padding: 20px;
  }
}


